---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic_teller_machine.json?key=<key>&lat=39.7392&lon=-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 74d6be96-18e9-43fe-bfd2-9cbdcad3f58b
      X-Apigee.target-Latency:
      - '12'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic_teller_machine","queryType":"NON_NEAR","queryTime":9,"numResults":10,"offset":0,"totalResults":10,"fuzzyLevel":1,"geoBias":{"lat":39.7392,"lon":-104.9903},"geobiasCountry":"US"},"results":[{"type":"POI","id":"e-D0VHggkzWq-bmSeJrcwg","score":2.8319805759,"dist":15.019995,"info":"search:ta:840089001513355-US","poi":{"name":"Denver
        Community Fcu","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1437","streetName":"North Bannock
        Street","municipalitySubdivision":"Civic Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80202","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1437 North Bannock Street,
        Denver, CO 80202","localName":"Denver"},"position":{"lat":39.739131,"lon":-104.990149},"viewport":{"topLeftPoint":{"lat":39.74003,"lon":-104.99132},"btmRightPoint":{"lat":39.73823,"lon":-104.98898}},"entryPoints":[{"type":"main","position":{"lat":39.73913,"lon":-104.99027}}]},{"type":"POI","id":"nokXfOCRESTToWKRuHuEqQ","score":2.8319748062,"dist":127.139552,"info":"search:ta:840089001089015-US","poi":{"name":"ATM
        at Denver Community FCU","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"200","streetName":"West 14th Avenue","municipalitySubdivision":"Civic
        Center","municipality":"Denver","countrySecondarySubdivision":"Denver","countrySubdivision":"CO","countrySubdivisionName":"Colorado","postalCode":"80204","extendedPostalCode":"80204-2732","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"200 West 14th Avenue, Denver,
        CO 80204","localName":"Denver"},"position":{"lat":39.738093,"lon":-104.990672},"viewport":{"topLeftPoint":{"lat":39.73899,"lon":-104.99184},"btmRightPoint":{"lat":39.73719,"lon":-104.9895}},"entryPoints":[{"type":"main","position":{"lat":39.73846,"lon":-104.99062}},{"type":"main","position":{"lat":39.73846,"lon":-104.99067}}]},{"type":"POI","id":"xao6[...]
